

.card {
  margin: 5px 0;
  padding: 5px 10px;
  min-height: 50px;
  background: $gray-medium;
  display: flex;
  text-align: left;
}

.card-placeholder {
  min-height: 30px;
  display: flex;
}

.card-tags {
  display: none;
}

.card:hover {
  background: $orange-medium;
  transition: background-color 0.3s linear;
}


@media (min-width: 700px) {
  .card {
    min-height: 75px;
    width: 300px;
  }

  .card-tags {
    display: inherit;
  }

}