// Place all the styles related to the api/boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boards-show {
  border: 1px solid orchid;
}

.boards-show header {
  display: flex;
}

.boards-show header > div {
  display: flex;
  margin-top: 10px;
  width: 200px;
  border: 1px solid blue;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  justify-content: space-between
}

.boards-show header button {
  display: none;
}

.boards-show header:hover button {
  display: flex;
  float: left;
}

.boards-show li > section {
  font-size: 15px;
  display: block;
}
