// Place all the styles related to the api/collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.collection-show {
  border: 1px solid lawngreen;
}

.collection-show h2 {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
}

