button:hover {
  text-decoration: underline;
}

button.btn-nav {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 9px 0;
  padding: 5px 3px;
  border-radius: 5px;
  min-width: 60px;
}

a.btn-nav{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  padding: 5px 3px;
  border-radius: 5px;
  min-width: 60px;
  margin-left: 10px;
};

.btn-nav:hover {
  background: rgb(233, 132, 0);
  transition: background ease 0.3s;
  text-decoration: none;
}

.btn-link {
  padding: 5px 0;
  display: inline-block;
  font-weight: 600;
}

.btn-link:hover {
  color: skyblue;
  transition: color 0.3s;
}

//button in card-modals

.btn-modal .icon {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.icon:last-of-type {
  margin-left: 40px;
}

.btn-modal:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}