$gray: #CCCCCC;
$lightblue: #99CCCC;
$blue: #003399;
$orange: #FF9933;
$dark-orange: #d97b29;

$orange-darker: rgba(255,153,51, 0.8);
$orange-dark: rgba(255,153,51, 0.6);
$orange-medium: rgba(255,153,51, 0.4);
$gray-medium: rgba(204,204,204,0.4);
$gray-light: rgba(204,204,204,0.2);
$gray-dark: rgba(204,204,204,0.8);
$white-dark: rgba(255,255,255,0.8);