$gray: #CCCCCC;
$lightblue: #99CCCC;
$blue: #003399;
$orange: #FF9933;
$dark-orange: #d97b29;


$orange-medium: rgba(255,153,51, 0.4);
$gray-medium: rgba(204,204,204,0.4);
$gray-light: rgba(204,204,204,0.2);
$gray-dark: rgba(204,204,204,0.8);
$white-dark: rgba(255,255,255,0.8);


/* colors */
/* 
Elephant Grey: #c5d3d9
Dark Teal: #1f8da6
Sand Grey: #736f68
Burnt Orange: #d97b29
Farmhouse Red: #bf3415

OR
gray: #CCCCCC // rgb(204,204,204)
light blue:  #99CCCC // rgb(153,204,204)
blue: #003399 // rgb(0,51,153)
orange:  #FF9933 // rgb(255,153,51)

*/
