#root {
  font-family: sans-serif;
  width: 1500px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}

.header {
  display: flex;
  border: 1px solid blueviolet;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  float: right;
  border: 1px solid black;
}

.nav-bar div {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.nav-bar  p {
  float: left;
  padding: 10px 5px;
  margin: 5px;
}

.btn-nav {
  display: inline-block;
  background: lightgray;
  border-radius: 7px;
  border: 1px solid darkgray;
  padding: 0px 5px;
  margin: 5px;
  height: 30px;
  cursor: pointer;
}

.btn-nav:hover {
  background: darkgray;
  transition: background 0.3s;
}

.logo {
  font-size: 40px;
  float: left;
  border: 1px solid red;
  padding: 0 10px;
}

.main-nav {
  border: 1px solid orange;
  width: 20%;
  height: 350px;
  font-size: 15px;
  float: left;
}

.side-nav-list {
  padding: 10px 0 0 10px;
}

.side-nav-list li {
  padding-bottom: 5px;
}

.side-nav-list li > span:last-of-type {
  margin-left: 10px;
}

.main-body {
  border: 1px solid greenyellow;
  width: 79%;
  height: 500px;
  float: right;
  overflow-y: scroll;
}

.btn-link {
  padding: 5px 0;
  display: inline-block;
  font-weight: 600;
}

.btn-link:hover {
  color: skyblue;
  transition: color 0.3s;
}

.submit {
  cursor: pointer;
  font-weight: 500;
  background: none;
  border: none;
}

.submit:hover {
  font-weight: 700;
  text-decoration: underline;
}

.form {
  border: 1px solid gainsboro;
  border-radius: 7px;
  margin-top: 10px;
  margin-right: 5px;
  background: lavender;
}

.form form {
  padding: 5px 10px;
  display: flex;
}

.hide {
  display: none
}

.collection-show {
  border: 1px solid lawngreen;
}

.collection-show h2 {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
}

.boards-show {
  border: 1px solid orchid;
}

.boards-show header {
  width: 200px;
  border: 1px solid blue;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.boards-show header > section {
  font-size: 15px;
}

.board-columns {
  border: 1px solid paleturquoise;
  margin-bottom: 20px;
}

.board-columns ul {
  display: flex;
}

.column {
  border: 1px solid yellow;
  width: 200px;
  min-height: 150px;
  padding-left: 5px;
  flex-wrap: wrap;
  margin-right: 20px;
}

.column h4 {
  font-size: 15px;
  font-weight: bold;

}

ul.cards-list {
  display: inline-block;

}

.cards-list > li {
  width: 194px;
  border: 1px solid purple;
  vertical-align: top;
  margin-bottom: 5px;
  padding: 10px 0 5px 5px;
}
