//general layout
#root {
  font-family: sans-serif;
  width: 1500px;
  min-height: 600px;
  margin: auto;
}

.hide {
  display: none
}

//Top of page

.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 20px;
}

.nav-bar {
  display: flex;
  float: right;
}

.nav-bar div {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.nav-bar  p {
  float: left;
  padding: 10px 5px;
  margin: 5px;
}

.logo {
  font-size: 40px;
  float: left;
  padding: 0 10px;
}



// Side navigation

.main {
  min-height: 500px;
  overflow-y: initial;
}
.main-nav {
  width: 15%;
  min-height: 500px;
  font-size: 15px;
  float: left;
}

.side-nav-list {
  padding: 10px 0 0 10px;
}

.side-nav-list li {
  padding-bottom: 5px;
}

.side-nav-list li > span:last-of-type {
  margin-left: 10px;
}


// Body

.main-body {
  width: 83%;
  min-height: 500px;
  float: right;
  border-left: 1px solid white;
  padding-left: 25px;
}


// Forms


.form {
  border: 1px solid gainsboro;
  border-radius: 7px;
  margin-top: 10px;
  margin-right: 5px;
  background: lavender;
}

.form form {
  padding: 5px 10px;
  display: flex;
}

.session-input {
  background: rgba(255,255,255,0.1);
  margin-right: 15px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 4px 0;
}



//Buttons

// .btn-nav {
//   display: inline-block;
//   padding: 0px 5px;
//   margin: 5px;
//   cursor: pointer;
// }

button.btn-nav {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 9px 0;
  padding: 5px 3px;
  border-radius: 5px;
  min-width: 60px;
}

a.btn-nav{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  padding: 5px 3px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 60px;
  margin-left: 10px;
};

.btn-nav:hover {
  background: rgb(233, 132, 0);
  transition: background ease 0.3s;
}

.btn-link {
  padding: 5px 0;
  display: inline-block;
  font-weight: 600;
}

.btn-link:hover {
  color: skyblue;
  transition: color 0.3s;
}

.submit {
  cursor: pointer;
  font-weight: 500;
  background: none;
  border: none;
}

.submit:hover {
  text-decoration: underline;
}

// modal

.modal-screen {
  z-index: 998;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: absolute;
  background: orange;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translateX(-50%) translateY(-50%);
}
