

.side {
  width: 0;
  height: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $lightblue;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border: 0;
  text-align: left;
}

.side ul, .side h3 {
  margin-left: 20px;
}

.side ul li {
  width: 80%;
}

.side.active {
  width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button.close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
  color: white;
}

.side .button {
  color: white;
  padding: 1px 5px;
  border: 1px solid white;
  margin-top: 0.5em;
}

.side .button:hover {
  background: orange;
  text-decoration: none;
  transition: 0.3s;
}


.button.hamburger {
  font-size: 20px;
  top: 0;
  left:0;
  position: fixed;
  color: $dark-orange;
}

li.highlight {
  background: $gray-dark;
}


@media (min-width: 700px) {
  .side {
    width: inherit;
    height: inherit;
    position: static;
    z-index: auto;
    padding: 0;
    background: inherit;
    transition: none;
    border-right: 1px solid $gray;
    padding-right: 15px;
  }

  .button.hamburger {
    display: none;
  }

  .button.close {
    display: none;
  }

  .side ul li {
    width: inherit;
  }

  .side .button {
    color: $orange;
    padding: 1px 5px;
    border:none;
    margin-top: 0.5em;
  }

  .side .button:hover {
    background: none;
    text-decoration: underline;
  }


}